html{
  color: black;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(to right,
  #5799f8, #5693ee, #548ce5,
  #5386db, #5180d2, #6581d1,
  #7482cf, #8284cd, #a18ed2,
  #bb9ad6, #d2a6da, #e7b4df);
}
p{
  font-size: 20px;
}
h1 {
  color: #2E2E2E;
  font-family: 'Oswald', sans-serif;
}
h2 {
  color: purple;
}

ul {
 padding-left:0;
}

ul li  {
 list-style-position:inside
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #C1C1C1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #93A6DA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #9896DC;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
